.teamPoints {
    border: 50px solid black;
    position: absolute;
    top: 70%;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}