.smallLogo {
  height: 50%;
}

.extraSmallLogo {
  height: 10px;
  width: auto;
}


.wholeCardGridContainer {
  width: 90px;
  height: 120px;
  /* here fixed position stacks the cards one above another, so avoid using fixed */
  /* position: fixed; */
  left: 20px;
  top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: rgb(175, 0, 0);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.logosGridContainer {
  grid-row: 2 / 7;
  grid-column: 2 / 5;

  /* height: 400px; */
  /* width: 300px; */

  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 2px; */
  grid-template-rows: repeat(22, 1fr);
}
