.ownTeam {
    border: 2px solid green;

    width: 150px;
    height: 200px;
}

.positive, .negative {
    position: absolute;
}

.positive {
    z-index: 0;
}

.negative {
    z-index: -1;
}

.flipped {
    z-index: 10;
}

