.stack {
  height: 100%;
  display: flex;
  position: relative;
  top: -50px;
}

.playerInfo {
  background: red;
  /* text-align: center; */
  /* position: relative; */
  top: -15px;
  width: 540px;
  margin: 0 auto;
}
